.flex(){
    display:flex;
    display: -ms-flexbox;
    display: -webkit-flex;
}

.flex-center(){
    display:flex;
    display: -ms-flexbox;
    display: -webkit-flex;

    align-items:center;
    -ms-flex-align:center;
    -webkit-align-items:center;

    -ms-flex-pack:center;
    justify-content:center;
    -webkit-justify-content:center;
}

.flex-align-center() {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;

    align-items: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
}

.flex-align-end() {
    display:flex;
    display: -ms-flexbox;
    display: -webkit-flex;

    align-items:center;
    -ms-flex-align:center;
    -webkit-align-items:center;

    -ms-flex-pack:end;
    justify-content:flex-end;
    -webkit-justify-content:flex-end;
}

.flex-align-between() {
    display:flex;
    display: -ms-flexbox;
    display: -webkit-flex;

    align-items:center;
    -ms-flex-align:center;
    -webkit-align-items:center;

    -ms-flex-pack:justify;
    justify-content:space-between;
    -webkit-justify-content:space-between;
}

.flex-align-start() {
    display:flex;
    display: -ms-flexbox;
    display: -webkit-flex;

    align-items:center;
    -ms-flex-align:center;
    -webkit-align-items:center;

    -ms-flex-pack:start;
    justify-content:start;
    -webkit-justify-content:flex-start;
}

.flex-align-around() {
    display:flex;
    display: -ms-flexbox;
    display: -webkit-flex;

    align-items:center;
    -ms-flex-align:center;
    -webkit-align-items:center;

    -ms-flex-pack:justify;
    justify-content:space-around;
    -webkit-justify-content:space-around;
}

.flex-bottom-around() {
    display:flex;
    display: -ms-flexbox;
    display: -webkit-flex;

    align-items:flex-end;
    -ms-flex-align:end;
    -webkit-align-items:flex-end;

    -ms-flex-pack:justify;
    justify-content:space-around;
    -webkit-justify-content:space-around;
}


*{
    margin:0;
    font-family: 'Nanum Barun Gothic', sans-serif;
}

// 86 188 166

body{
    width:100vw;
    height:100vh;
}

.header{
    width:100%;
    height:8%;

    background-color:rgb(86,188,166);

    .flex-center;
}

.header > .header-box{
    width:90%;
    height:100%;
    margin:auto;

    .flex-align-between;
}

.header > .header-box > .logo{
    background-image:url('res/ic_logo.png');
    background-size:cover;
    width:128.5px;
    height:22px;
}


.header > .header-box > .auth-box > .btn{
    width:45%;
    height:60%;

    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;

    .flex-center;

    cursor:pointer;

    color:#fff;
}

.content{
    width:100%;
    height:92%;

    .flex-center;
}


.content > .content-box > .content-box-header{
    width:100%;
    height:24%;

    background-color: rgb(66,82,88);
    border-radius:20px 20px 0 0;

    .flex-center;
}

.content > .content-box > .content-box-header > .content-box-header-content{
    width:90%;
    height:60%;

    margin:auto;

    .flex-align-between;
}

.content > .content-box > .content-box-header > .content-box-header-content > h6{
    color:white;
    font-size:28px;
    font-weight:400;
}

.content > .content-box > .content-box-content{
    width:100%;
    height:76%;
}

.content > .content-box > .content-box-content > .content-text > h4{
    font-size:22px;
    font-weight:400;
    color:rgb(106,106,106);
    line-height: 50px;
    margin-top:20px;
}

.content > .content-box > .content-box-content > .content-btn > .btn{
    width:40%;
    height:80%;

    .flex-center;
    border-radius:100px;

    box-shadow:5px 5px rgb(194,194,194);
}

.content > .content-box > .content-box-content > .content-btn > .unclick{
    border:2px solid rgb(39,183,159);
    color:rgb(39,183,159);
}

.content > .content-box > .content-box-content > .content-btn > .click{
    color:#fff;
    background-color:rgb(39,183,159);
}

.content > .content-box > .content-box-content > .content-list > .content-list-box{
    width:80%;
    height:50%;

    margin:auto;

    .flex-align-between;
}

.content > .content-box > .content-box-content > .content-list > .content-list-box > p{
    color:rgb(39,183,159);
    font-size:14px;
}

.content > .content-box > .content-box-content > .content-list > .content-list-box > select{
    color:rgb(139,139,139);
    border:none;
    outline:none;

    background-color:#fff;

    width:30%;
}

@media (max-width:639px){
    .content > .content-box{
        width:90%;
        height:60%;

        box-shadow:2px 2px 5px 5px rgb(234,234,234);
        border-radius:20px;

    }

    .content > .content-box > .content-box-content > .content-text > p{
        font-size:16px;
        color:rgb(204,204,204);

        display:none;
    }

    .content > .content-box > .content-box-content > .content-btn{
        width:80%;
        height:15%;

        .flex-align-between;

        margin:auto;
        margin-top:20px;
    }

    .content > .content-box > .content-box-content > .content-list{
        width:80%;
        height:12%;

        border:2px solid rgb(39,183,159);
        border-radius:100px;

        margin:auto;
        margin-top:20px;

        .flex-center;

        box-shadow:5px 5px rgb(194,194,194);
    }

    .content > .content-box > .content-box-content > .content-text{
        width:75%;
        margin:auto;
    }

    .content > .content-box > .content-box-header > .content-box-header-content > .btn{
        width:40%;
        height:60%;

        .flex-center;

        color:rgb(66,82,88);
        background-color:#fff;

        border-radius: 30px;
    }

    .header > .header-box > .auth-box{
        width:40%;
        height:100%;

        .flex-align-between;
    }
}

@media (min-width:640px){
    .content > .content-box{
        width:54%;
        height:60%;

        box-shadow:2px 2px 5px 5px rgb(234,234,234);
        border-radius:20px;

    }

    .content > .content-box > .content-box-content > .content-text > p{
        font-size:16px;
        color:rgb(204,204,204);

        display:block;
    }

    .content > .content-box > .content-box-content > .content-btn{
        width:50%;
        height:15%;

        .flex-align-between;

        margin:auto;
        margin-top:20px;
    }

    .content > .content-box > .content-box-content > .content-list{
        width:50%;
        height:12%;

        border:2px solid rgb(39,183,159);
        border-radius:100px;

        margin:auto;
        margin-top:20px;

        .flex-center;

        box-shadow:5px 5px rgb(194,194,194);
    }

    .content > .content-box > .content-box-content > .content-text{
        width:60%;
        margin:auto;
    }

    .content > .content-box > .content-box-header > .content-box-header-content > .btn{
        width:20%;
        height:60%;

        .flex-center;

        color:rgb(66,82,88);
        background-color:#fff;

        border-radius: 30px;
    }

    .header > .header-box > .auth-box{
        width:20%;
        height:100%;

        .flex-align-between;
    }
}